<app-header></app-header>


    <!-- Main content Start -->
    <div class="main-content">
        
        <div class="rs-faq-part style1 pb-100 pt-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 padding-0">
                        <div class="main-part">
                            <div class="title mb-40 md-mb-15">
                                <h3 class="text-part">Achievements:</h3>
                            </div>
                            <div class="faq-content" style="margin-top: 20px;">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo"> 2000 ની સાલમાં રાજ્ય
                                                કક્ષાએ યોજાયેલ ગરબા સ્પર્ધામાં પ્રથમ નંબર મેળવેલ છે</button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">2002 ની સાલમાં
                                                ઉચ્ચત્તર સાયન્સ પ્રવાહની શરૂઆત</button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo"
                                                style="line-height: 40px;">2004 ની 15મી ઓગસ્ટે
                                                પોલીસ ગ્રાઉંડ માં સાંસ્ક્રુતિક કાર્યક્રમનુ આયોજન કરેલ હતું જેમાં ગરબામાં
                                                ભાગ લેનાર સર્વે વિધ્યાર્થીની બહેનોને વ્યક્તિગત ચાંદીની સરસ્વતીની મૂર્તિ
                                                મળેલ છે</button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">12 જુલાઇ 2005 ના રોજ્ન
                                                NCC ની શરૂઆત</button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">2005-06 માં જીલ્લા
                                                કક્ષાની ગરબા સ્પર્ધા ડીસા મુકામે યોજાયેલ વ્યક્તિગત લ્હાણી પ્રાપ્ત કરેલ
                                                છે</button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo"
                                                style="line-height: 30px;">2006-07 માં જીલ્લા
                                                તેમજ રાજ્ય કક્ષાના રમતોત્સવમાં ભાગ લેનાર વિધાર્થિનીઓની સંખ્યા 150 જેટલી
                                                હતી .જેમાં વિશિષ્ટ પ્રદાન મેળવનાર બાળખોખોની સ્પર્ધામાં બે બહેનો રાજ્ય
                                                કક્ષાની સ્પર્ધા માટે ગોધરા મુકામે પસંદગી પામેલ:
                                                <ul>
                                                    <li>૧. મહીડા જીજ્ઞા હરેન્દ્રસિંહ</li>
                                                    <li>૨. મહીડા વિધિ ભૂપેન્દ્રસિંહ</li>
                                                </ul>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">બાલ એથળેટીક્સની રાજ્ય
                                                કક્ષાની સ્પર્ધા પીપળજ મુકામે યોજાયેલ જેમાં બહેનોએ ભાગ લીધેલ</button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">રાજ્ય કક્ષાની ખોખોની
                                                સ્પર્ધામાં એક બહેન પસંદગી પામેલ છે- ગરાસીયા શુશીલા શાંતીલાલ</button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">રાજ્ય કક્ષાની સ્કેટીંગ
                                                સ્પર્ધામાં અમદાવાદ મુકામે યોજાઇ જેમાં પાચ વિધાર્થીની બહેનોએ ભાગ લીધેલ
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo"
                                                style="line-height: 30px;">૨૦૦૬ માં આર્ય સમાજ દ્વારા નિબંધ સ્પર્ધા યોજાઈ
                                                <br>
                                                વિષય : સાંપ્રદાઈક્તાનું ઝેર માનવતા માટે કલંક. ત્રણ નંબર પ્રાપ્ત થયા છે,
                                                <ul>
                                                    <li>૧. પઠાણ સોહા ફિરોજખાન</li>
                                                    <li>૨. પંચોલી આકાંશા અલક</li>
                                                    <li>૩. પટેલ શ્રુષ્ટી રમેશભાઈ</li>
                                                </ul>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo" style="line-height: 40px;">તા. ૨૦/૦૮/૨૦૦૬ ના રોજ
                                                ઓલ ઈન્ડીયા કોમ્પિટિશન અનુક્રમે માર્ગ સુરક્ષા અકસમાતથી બચવાના ઉપાયો વિષય
                                                પર ૧૮ વિધાર્થીની બહેનોએ ભાગ લીધેલ , જેમના નિબંધો દીલ્હી મુકામે ગયેલ
                                                જેમાં સમદરા ભારતમાથી ગુજરાતે ભાષામાં પ્રથમ નંબર પ્રાપ્ત કરનાર - ચોરસીય
                                                જ્યોતી રાકેશકુમાર
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">2006 માં પાચ હજાર મીટર
                                                સ્કેટીંગ સ્પર્ધામાં પ્રથમ નંબર મેળવેલ હતો. અને જે રાજ્ય કક્ષાએ પસંદ
                                                પામ્યા હતા - શાહ કૃપાલી વાય
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo" style="line-height: 40px;">જિલ્લા કક્ષાની
                                                સ્વિમિંગ સ્પર્ધામાં વિધ્યાનગર ખાતે યોજાઈ જેમાથી એક વિધ્યાર્થીની પસંદગીની
                                                પસંદગી રાજ્ય કક્ષાએ થઈ – રાઠોડ શ્રધ્ધાકુંવરબા એચ.
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo" style="line-height: 40px;">2006 નિબંધ સ્પર્ધામાં
                                                OTA (ઓટા) દ્વારા વિષય: “રાષ્ટ્રીય વિકાસ તેમજ સામાજીક સુધારા માટે
                                                યુવકોનું યોગદાન” માં રાષ્ટ્રીય કક્ષાએ પ્રથમ સ્થાન પ્રાપ્ત કરેલ હતું.
                                                જેમાં ચોરસીયા જ્યોતિ રાકેશકુમારને ગોલ્ડ મેડલ તેમજ 1000/- સ્કોલરશીપ મળેલ
                                                છે તથા સર્ટિફિકેટ પણ મળેલ છે.
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo" style="line-height: 40px;">કોઈમ્બતુર, તામિલનાડુ
                                                માં નિલગિરી ટ્રેક જે ઓલ ઈન્ડીયા ટ્રેનીંગ કેમ્પમાં 35 કેડેત્માથી બે
                                                વિધ્યાર્થિની બહેનોએ કલ્ચરલ પ્રોગ્રામમાં પ્રથમ સ્થાન મેળવ્યું
                                                <ul>
                                                    <li> ૧. હિંગુ
                                                        મિલૌની</li>
                                                    <li>૨. ધ્યાની આરતી</li>
                                                </ul>

                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">15-10-2006 ના રોજ
                                                પ્રતિક્ષા આર્ટ એકેડમી દ્વારા યોજાયેલ ગરબા સ્પર્ધામાં પ્રથમ નંબર મેળવેલ
                                                છે. 11001/- નું ઈનામ પણ મેળવેલ છે.
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo" style="line-height: 40px;">2007 માં શ્રી
                                                દીપ્તીબેન ભલ્લા અને તેમના ગ્રૂપ દ્વારા કસ્તુરબા પટાંગણમાં કથ્થક નૃત્યનો
                                                કાર્યક્રમ યોજાયેલ જેમાં વિધ્યાર્થિની બહેનોએ પણ ભાગ લીધેલ છે.
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo" style="line-height: 40px;">2007 માં રાજ્યકક્ષાની
                                                કબડ્ડી સ્પર્ધા અમરેલી મુકામે યોજાયેલ જેમાં બે બહેનો પસંદગી પામેલ છે.
                                                <ul>
                                                    <li> ૧. પટેલ દ્રષ્ટિ સંજયભાઈ</li>
                                                    <li>૨. યાદવ અંજુ તેજાભાઈ
                                                    </li>
                                                </ul>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo" style="line-height: 40px;">2007 માં રાજ્ય કક્ષાની
                                                ખોખો સ્પર્ધા અંકલેશ્વર મુકામે યોજાયેલ જેમાથી બે બહેનો પસંદગી પામેલ છે.

                                                <ul>
                                                    <li>૧. મેનાત હેતલ ધીરુભાઈ</li>
                                                    <li> ૨. પટેલ વૈભવી શૈલેશભાઈ
                                                    </li>
                                                </ul>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo" style="line-height: 40px;">2007 માં રાજ્ય કક્ષાની
                                                ખોખો સ્પર્ધા અંકલેશ્વર મુકામે યોજાયેલ જેમાથી બે બહેનો પસંદગી પામેલ છે.

                                                <ul>
                                                    <li>૧. પટેલ રિધ્ધિ વી.</li>
                                                    <li>૨. મેણાત હેતલ ધીરુભાઈ
                                                    </li>
                                                </ul>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">2007-08 માં મહિલા ઓપન
                                                ખોખોની રાજ્ય કક્ષાની સ્પર્ધા જુનાગઢ મુકામે જેમાં દ્વિતીય નંબર પ્રાપ્ત
                                                કરેલ છે. તેમજ 3600/- સ્કોલરશીપ મેળવેલ છે.
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">2007 માં બાલ વોલીબોલ
                                                સ્પર્ધામાં પટેલ દ્રષ્ટિ સંજયભાઈ ની પસંદગી થઈ.
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo" style="line-height: 40px;">2007માં નેશનલ
                                                એથ્લેટિક્સ એશોષીએશન દ્વારા હરદ્વાર મુકામે સ્પર્ધા યોજાઈ જેમાં શાળાની બે
                                                વિધ્યાર્થિની બહેનોએ ભાગ લીધેલ હતો
                                                <ul>
                                                    <li> ૧. મેણાત હેતલ ધીરુભાઈ </li>
                                                    <li> ૨. પટેલ દ્રષ્ટિ
                                                        સંજયભાઈ</li>
                                                </ul>
                                              
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo" style="line-height: 40px;">૨૦૦૮-૦૯ બાળ રાજ્ય કક્ષાની ખોખો સ્પર્ધામાં બે બહેનો પસંદ પામી
                                                <ul>
                                                    <li> ૧.  મહેતા જાનકી કલ્પેશકુમાર </li>
                                                    <li> ૨. વસાવા રીંકલ હર્સીંહભાઈ</li>
                                                </ul>
                                              
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo" style="line-height: 40px;">ગુજરાત રાજ્ય એમ્પ્લોયર એથ્લેટીક એસો. દ્વારા રાજપીપળા તેમજ હરદ્વાર ખાતે યોજાયેલ સ્પર્ધા જેમાં ઊચી કુદમાં તૃતીય નંબર મેળવેલ છે – મેળાત હેતલ ધીરુભાઈ
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">અનુપમ મીશનમાં રાઈફલ ટ્રેનીંગ સ્પર્ધામાં પ્રથમ – પટેલ શ્રુતીબેન પ્રવીણભાઈ
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">N.C.C. ની રાઈફલ શુટીંગ સ્પર્ધામાં પાચ દોલ્ડ મેડલ મળેલ છે – યાદવ અંજુ તેજાભાઈ. સસ્થાએ પણ તેમણે ટ્રોફી આપેલ છે.
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">N.C.C. ના દરેક કેમ્પ માં ભાગ લઈ સારો દેખાવ કરે બેસ્ટ કેડેટનું સ્થાન પ્રાપ્ત કરેલ છે યેમજ મેડલ પણ મેળવેલ છે - કૂ.વિધિ ગિરીશભાઈ
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">2008-09 માં વાયબ્રન્ત ગુજરાતની ઉજવની અમદાવાદ ખાતે યોજાયેલ જેમાં પ્રાચીન ગરબો રજૂ કરેલ હતો
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">2008-09 માં લાયન્સ ક્લબ તરફથી યોજાતી ગરબા સ્પર્ધામાં પ્રાથમિક વિભાગે પ્રથમ નંબર પ્રાપ્ત કરેલ હતો
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">2009-10 માં ભારતીય સનસ્ક્ર્તિ જ્ઞાન પરીક્ષામાં વ્હોરા આયેશા ફિરોઝભાઈ – જીલ્લામાં બીજા ક્રમે.
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">સ્વર્ણિમ ગુજરાત સંકલ્પ રથ યાત્રાની ઉજવણીમાં વક્તૃત્વ સ્પર્ધામાં ગોહેલ શિવાની શિવાની પ્રતાપસિંહ પ્રથમ સ્થાન
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">નિબંધ સ્પર્ધામાં પ્રથમ – બાલધિયા હીનલ ચીમનલાલ
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">બળપ્રતિભા ઉત્સવ આંકલાવમાં હાર્મોનિયમ વગાડવામાં હેલી સુથાર પ્રથમ
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">નિબંધ સ્પર્ધામાં નેતી ભટ્ટ પ્રથમ
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">30-11-2010 માં લાયન્સ ક્લબ તરફથી યોજાયેલ ગરબા તથા ફોક સ્પર્ધામાં માધ્યમિક વિભાગ ફોકમાં પ્રથમ તથા પ્રાથમિક વિભાગ ગરબામાં દ્વિતીય
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo">2010-11 માં સ્વર્ણિમ ગુજરાતની ઉજવણી નિમિત્તે ખેલ મહાકુંભમાં જુદીજુદી રમત સ્પર્ધામાં 100 જેટલી બહેનોએ ભાગ લીધો
                                            </button>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" 
                                                aria-expanded="false" aria-controls="collapseTwo" style="line-height: 40px;">રાજ્ય કક્ષાએ પસંદગી પામેલ બહેનોની સંખ્યા નીચે મુજબ છે. 
                                                <ul>
                                                    <li>બાળ ખોખોમાં  - 3 બહેનો પસંદગી પામેલ છે</li>
                                                    <li>શા.ખોખોમાં - 2 બહેનો પસંદગી પામેલ છે</li>
                                                    <li>બાળ કબડ્ડી - 2 બહેનો પસંદગી પામેલ છે</li>
                                                    <li>શા. કબડ્ડી- 1 બહેનો પસંદગી પામેલ છે</li>
                                                    <li>શા. વોલીબોલ - 2 બહેનો પસંદગી પામેલ છે</li>
                                                    <li>બાળ એથ્લેટિક્સ - 3 બહેનો પસંદગી પામેલ છે</li>
                                                    <li>મહિલા ઓપન ખોખો - 1 બહેનો પસંદગી પામેલ છે</li>
                                                </ul>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- faq Section Start -->
    </div>
    <!-- Main content End -->

<app-footer></app-footer>