<app-header></app-header>

<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70" *ngIf="choice=='primary'">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/cems/about.jpg" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        About Us
                    </div>
                    <!-- <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2> -->

                    <p class="desc">
                        1894 ની આજુબાજુના સમયગાળામાં ચરોતરના વિદ્યાર્થીને મેટ્રિકની પરીક્ષા આપવા અમદાવાદ જવું પડતું.
                        તત્પશ્ચાત ઉચ્ચ અભ્યાસ અર્થે વડોદરા, અમદાવાદ, મુંબઇ ને પૂનાની કોલેજોમાં પ્રવેશ મેળવવો પડતો.
                        મોતીભાઈ સાહેબે પૂના મુકામે ડકકન એજ્યુકેશન સોસાયટીના સ્વયંસેવક સાથે ઊંડો વિચાર વિમર્શ કર્યો તથા
                        કાર્ય પધ્ધતિ અને બંધારણના અભ્યાસના પરિણામ સ્વરૂપે તારીખ 16/04/1916 ના રોજ પેટલાદ ખાતે ચરોતર
                        એજ્યુકેશન સોસાયટીની સ્થાપના થઇ. મંત્રી પદે અંબાલાલ મોતીલાલ પટેલ તથા પ્રમુખ પદે હરિજન સેવક
                        ઠક્કરબાપાએ કાર્યભાર સંભાળ્યો. ત્યારબાદ આ સંસ્થાએ આણંદમાં પોતાના પગ પ્રસાર્યા. ડી.એન. કેમ્પસ ખાતે
                        વિવિધ શાખાઓ ફેલાવી.
                    </p>
                    <p class="desc">
                        સને 1964 ના જૂન માસમાં ખેતીવાડી ખાતે પણ વિકાસની ડોરને મજબૂત કરવા 7.50 એકર જમીનમાં સમૃદ્ધિના બીજ
                        રોપાયા. આજ કેમ્પસમાં સરદાર પટેલ બાલશાળા, શિશુવિહાર, પ્રાથમિક વિભાગ જે હાલ ધોરણ 6, 7, 8 ઉચ્ચ
                        પ્રાથમિક વિભાગના નામે કાર્યભાર સંભાળે છે. મધ્યમ વર્ગીય અને પાતળી આર્થિક સ્થિતિ ધરાવતા કુટુંબીઓ
                        તથા નિકટના ગ્રામ્ય વિસ્તારના પરિવારના સંતાનોને શિક્ષણ સુવિધા અર્પતું ચ.એ.સોસાયટીનું આ કેમ્પસ
                        પ્રકૃતિના ખોળે આશીર્વાદ રૂપ છે. આ શિક્ષણના કેન્દ્રમાં ખડતલ બાંધાના પરિવારના બાળકો ખેલકૂદ અને રમત
                        કૌશલ્યના ક્ષેત્રે રાજ્ય કક્ષા સુધીની ઉજ્જવળ સફળતાઓ પ્રાપ્ત કરે છે. હાલ ઉચ્ચ પ્રાથમિક વિભાગમાં
                        કુમાર 301 અને કન્યા 203 એમ કુલ 504 વિદ્યાર્થી ભાઈ બહેનો સમાવિષ્ટ છે. ગુજરાત યુનિવર્સિટીના આણંદ
                        સ્થિત ખેતીવાડી કેમ્પસમાં ઉચ્ચ પ્રાથમિક વિભાગ હાલ વટવૃક્ષ બની કાર્યરત છે.
                    </p>

                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->
<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70" *ngIf="choice=='secondary'">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/cems/about.jpg" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        About Us
                    </div>
                    <!-- <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2> -->
                    <div class="bold-text mb-22"> Sardar Vallabhbhai Patel High School, Khetiwadi(HS)
                    </div>
                    <p class="desc">
                        We have created an atmosphere that encourages free thought among the teacher, the teacher's
                        parents, the principal, the teacher's management, and the student's management. "It is through
                        these positive vibes and synergy that the quest for excellence is attained." We can boast of an
                        ideal teacher-student relationship that makes learning fun and stress-free. Our school is well
                        equipped with up-to-date laboratories, the latest computer room, a well-stocked library, and
                        sports instruments to facilitate the teaching and learning process. Our huge playground
                        contributes to the physical development and recreation of our students. Our school is covered by
                        green trees and clean play grounds.
                    </p>

                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->
<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70" *ngIf="choice=='balshala'">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/cems/about.jpg" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        About Us
                    </div>
                    <!-- <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2> -->
                    <div class="bold-text mb-10"> S.V. Patel Balshala, Khetiwadi means ..
                    </div>
                    <ul style="list-style-type: disc;">
                        <li>A blooming spring overflowing with natural beauty</li>
                        <li>A fluent flowing source of knowledge</li>
                        <li>Accommodation of values and emotions</li>
                        <li>A flowing balance of positive attitude</li>
                        <li>Synthesis of harmony and unity</li>
                        <li>Born of respect and affection</li>
                        <li>Academy of excellent character building</li>
                    </ul>
                    <p class="desc">
                        Creative activity, play-based education, Vedic mathematics, computers, and self-discipline are
                        encouraged as ways to foster a child's genius. The importance of school, education, and
                        discipline is always praised and encouraged. This is where the bravery of the child is
                        praised.<br>
                        The seed of devotion is planted in their childhood.
                    </p>

                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->


<app-footer></app-footer>