<app-header></app-header>

<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70" *ngIf="choice=='primary'">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/cems/about.jpg" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        About Us
                    </div>
                    <!-- <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2> -->
                    <div class="bold-text mb-22"> S.V. Patel’s Students stand as a beacon of
                    </div>
                    <p class="desc">
                        discipline, courage, and tolerance. In a time
                        when such values are often forgotten, the school serves as an example. They embody the spirit of
                        respect and understanding, something that is essential in creating a educational and harmonious
                        society.


                    </p>
                    <p class="desc">
                        The discipline shown by the students is evident in their focus, dedication, and hard work. They
                        understand that success comes from hard work and determination, and they take pride in their
                        achievements. Their strength of character is also evident in their willingness to take on
                        difficult tasks, learn from their mistakes, and bring forth a better tomorrow.
                    </p>

                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->
<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70" *ngIf="choice=='secondary'">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/cems/about.jpg" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        About Us
                    </div>
                    <!-- <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2> -->
                    <div class="bold-text mb-22"> Sardar Vallabhbhai Patel High School, Khetiwadi(HS)
                    </div>
                    <p class="desc">
                        We have created an atmosphere that encourages free thought among the teacher, the teacher's
                        parents, the principal, the teacher's management, and the student's management. "It is through
                        these positive vibes and synergy that the quest for excellence is attained." We can boast of an
                        ideal teacher-student relationship that makes learning fun and stress-free. Our school is well
                        equipped with up-to-date laboratories, the latest computer room, a well-stocked library, and
                        sports instruments to facilitate the teaching and learning process. Our huge playground
                        contributes to the physical development and recreation of our students. Our school is covered by
                        green trees and clean play grounds.
                    </p>

                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->
<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70" *ngIf="choice=='balshala'">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/cems/about.jpg" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        About Us
                    </div>
                    <!-- <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2> -->
                    <div class="bold-text mb-10"> S.V. Patel Balshala, Khetiwadi means ..
                    </div>
                    <ul style="list-style-type: disc;">
                        <li>A blooming spring overflowing with natural beauty</li>
                        <li>A fluent flowing source of knowledge</li>
                        <li>Accommodation of values and emotions</li>
                        <li>A flowing balance of positive attitude</li>
                        <li>Synthesis of harmony and unity</li>
                        <li>Born of respect and affection</li>
                        <li>Academy of excellent character building</li>
                    </ul>
                    <p class="desc">
                        Creative activity, play-based education, Vedic mathematics, computers, and self-discipline are
                        encouraged as ways to foster a child's genius. The importance of school, education, and
                        discipline is always praised and encouraged. This is where the bravery of the child is praised.<br>
                         The seed of devotion is planted in their childhood.
                    </p>
                   
                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->


<app-footer></app-footer>