<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <div class="video-column col-lg-12">

                        <div class="inner-column">
                            <div class="course-features-info">
                                <h4>Our Top Activities:</h4>
                                <ul>
                                    <li class="lectures-feature">
                                        <!-- <i class="fa fa-files-o"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">વિધ્યાર્થી બહેનોના સર્વાંગી વિકાસ માટે સંસ્થા અનેક
                                            પ્રવૃત્તિઓ હાથ ધારે છે. આ પ્રવૃત્તિઓમાં બહેનો રસપૂર્વક ભાગ લે તે માટે
                                            બહેનોને પ્રોત્સાહિત કરવામાં આવે છે.
                                        </span>
                                    </li>

                                    <li class="quizzes-feature">
                                        <!-- <i class="fa fa-puzzle-piece"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">શિક્ષણ કાર્યનો શુભારંભ દરરોજ જુદીજુદી પ્રાર્થનાઓથી શરૂ થાય
                                            છે. બહેનો ગાયન સાથે સંગીતના સાધનો સ્વયમ વગાડીને પ્રાર્થના કરે છે. સમાચાર તથા
                                            સુવિચારનું વાંચન થાય છે.
                                        </span>
                                    </li>

                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">શાળાની વિધ્યાર્થિનીઓ અને શિક્ષકો અવારનવાર પ્રસંગોચિત
                                            વકતાવ્યો રજૂ કરે છે. શાળાના પટાંગણમાં મૂકેલ બોર્ડ ઉપર વિધ્યાર્થિની બહેનો
                                            તહેવારને અનુરૂપ ચિત્રો દોરી પોતાની કલા પ્રદર્શિત કરે છે.
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">વર્ષ દરમ્યાન નેચરલ ક્લબ દ્વારા ટ્રેકિંગનું આયોજન થાય છે.
                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">વિજ્ઞાન મંડળની વિવિધ પ્રવૃત્તિઓ વર્ષ દરમ્યાન યોજાય છે.
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">સામાજિક વિજ્ઞાન તથા વિજ્ઞાન અને ટેકનોલોજીમાં ક્વિઝ
                                            સ્પર્ધાનું આયોજન થાય છે.
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">ગૌરી વ્રત દરમ્યાન શાળામાં મહેંદી સ્પર્ધા કેશગુંથન સ્પર્ધા,
                                            રંગોળી સ્પર્ધા, તત્કાળ ચિત્ર સ્પર્ધા જેવી સ્પર્ધાઓ વર્ગ દીઠ યોજાય છે.</span>
                                    </li>
                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">જ્ન્માષ્ટમી નિમિત્તે વિવિધ કાર્યક્રમોનું આયોજન થાય છે.
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">શાળામાં ગુરુપૂર્ણિમાની ઉજવણી ધાર્મિક ભાવનાથી કરવામાં આવે છે.

                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">ડો.સર્વપલ્લી રદ્ગાકૃષ્ણના જન્મદિવસ નિમિત્તે શાળામાં સ્વયં
                                            શિક્ષક દિન ની ઉજવણી બહેનો હોશભેર ઉજવે છે.

                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">નવરાત્રિ નિમિત્તે નવદિવાસ ભવ્ય પ્રોગ્રામનું આયોજન થાય છે.
                                            જેમાં દરેક રાત્રિએ ત્રણ નંબર આપવામાં આવે છે. જેમાં નંબર પ્રાપ્ત કરનાર
                                            વિધ્યાર્થિની બાહરણોને શિલ્ડ મળે છે.

                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">ભારતીય સંસ્કૃતિની પરંપરાને ધ્યાનમાં રાખીને ધોરણ 10 અને 12 ની
                                            બહેનોનો સુભેચ્છા સમારોહ યોજવામાં આવે છે. વર્ષ દરમ્યાન શાળા વિવિધ પરીક્ષાનું
                                            આયોજન કરે છે. જે આ પ્રમાણે છે.
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">હિન્દી , સંસ્કૃત, શિષ્ટવાંચન, ભારતીય સંસ્કૃતિ પ્રખરતા શોધ,
                                            માધ્યમિક અને પ્રાથમિક ચિત્રકામ ગ્રાદ પરીક્ષાઓ તથા સંગીતની પરીક્ષાઓ લેવામાં
                                            આવે છે.

                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">વર્ષ દરમ્યાન દરેક ધોરણમાં બધાજ વર્ગની ગરબા સ્પર્ધા યોજાય છે
                                            જેમાં પ્રારમિક અને માધ્યમિક બંને વિભાગને એક થી ત્રણ નંબર આપવામાં આવે છે.

                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">શનિવારે અનીકુલતા મુજબ વિધ્યાર્થિની બહેનોની શારીરિક ક્ષમતા
                                            વધારવા માટે સમૂહ વ્યાયામ રાખવામા આવે છે.

                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">આણંદ નગરની વિવિધ ખાનગી સંસ્થાઓ દ્વારા યોજાતી સાંસ્ક્રુતિક
                                            પ્રવૃત્તિઓ અને બૌધ્ધિક વિકાસ અંગેની પ્રવૃત્તિઓમાં રસ પૂર્વક ભાગ લે અને વિવિધ
                                            ઈનામ પ્રાપ્ત કરે છે.

                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">શાળાની વિધ્યાર્થીની બહેનોમાં રાષ્ટ્રીય ભાવનાનો વિકાસ થાય તે
                                            હેતુસર દર વર્ષે રાષ્ટ્રીય તહેવારોની ઉજવણી ઉલ્લાસ ભેર થાય છે. આ નિમિત્તે આણંદ
                                            નગરમાં ભાવિ રેલીનું આયોજન કરવામાં આવે છે. આ ઉપરાંત સરકારશ્રી તરફથી આયોજિત
                                            કરેલ વિશિષ્ટ કાર્યક્રમોનું પણ આયોજન કરવામાં આવે છે.

                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="video-column col-lg-6">
                        <div class="inner-column">
                            <div class="course-features-info">
                                <h4>Achievements</h4>
                                <ul>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">2000 ની સાલમાં રાજ્ય
                                            કક્ષાએ યોજાયેલ ગરબા સ્પર્ધામાં પ્રથમ નંબર મેળવેલ છે

                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">2002 ની સાલમાં
                                            ઉચ્ચત્તર સાયન્સ પ્રવાહની શરૂઆત
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">2004 ની 15મી ઓગસ્ટે
                                            પોલીસ ગ્રાઉંડ માં સાંસ્ક્રુતિક કાર્યક્રમનુ આયોજન કરેલ હતું જેમાં ગરબામાં
                                            ભાગ લેનાર સર્વે વિધ્યાર્થીની બહેનોને વ્યક્તિગત ચાંદીની સરસ્વતીની મૂર્તિ
                                            મળેલ છે
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">12 જુલાઇ 2005 ના રોજ્ન
                                            NCC ની શરૂઆત
                                        </span>
                                    </li>
                                    <li class="lectures-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">2005-06 માં જીલ્લા
                                            કક્ષાની ગરબા સ્પર્ધા ડીસા મુકામે યોજાયેલ વ્યક્તિગત લ્હાણી પ્રાપ્ત કરેલ
                                            છે
                                        </span>
                                    </li>

                                    <li class="quizzes-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">2006-07 માં જીલ્લા
                                            તેમજ રાજ્ય કક્ષાના રમતોત્સવમાં ભાગ લેનાર વિધાર્થિનીઓની સંખ્યા 150 જેટલી
                                            હતી .જેમાં વિશિષ્ટ પ્રદાન મેળવનાર બાળખોખોની સ્પર્ધામાં બે બહેનો રાજ્ય
                                            કક્ષાની સ્પર્ધા માટે ગોધરા મુકામે પસંદગી પામેલ:
                                            <ul>
                                                <li>૧. મહીડા જીજ્ઞા હરેન્દ્રસિંહ</li>
                                                <li>૨. મહીડા વિધિ ભૂપેન્દ્રસિંહ</li>
                                            </ul>
                                        </span>
                                    </li>

                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">બાલ એથળેટીક્સની રાજ્ય
                                            કક્ષાની સ્પર્ધા પીપળજ મુકામે યોજાયેલ જેમાં બહેનોએ ભાગ લીધેલ
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">રાજ્ય કક્ષાની ખોખોની
                                            સ્પર્ધામાં એક બહેન પસંદગી પામેલ છે- ગરાસીયા શુશીલા શાંતીલાલ
                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">રાજ્ય કક્ષાની સ્કેટીંગ
                                            સ્પર્ધામાં અમદાવાદ મુકામે યોજાઇ જેમાં પાચ વિધાર્થીની બહેનોએ ભાગ લીધેલ
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">૨૦૦૬ માં આર્ય સમાજ દ્વારા નિબંધ સ્પર્ધા યોજાઈ
                                            <br>
                                            વિષય : સાંપ્રદાઈક્તાનું ઝેર માનવતા માટે કલંક. ત્રણ નંબર પ્રાપ્ત થયા છે,
                                            <ul>
                                                <li>૧. પઠાણ સોહા ફિરોજખાન</li>
                                                <li>૨. પંચોલી આકાંશા અલક</li>
                                                <li>૩. પટેલ શ્રુષ્ટી રમેશભાઈ</li>
                                            </ul>
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">તા. ૨૦/૦૮/૨૦૦૬ ના રોજ
                                            ઓલ ઈન્ડીયા કોમ્પિટિશન અનુક્રમે માર્ગ સુરક્ષા અકસમાતથી બચવાના ઉપાયો વિષય
                                            પર ૧૮ વિધાર્થીની બહેનોએ ભાગ લીધેલ , જેમના નિબંધો દીલ્હી મુકામે ગયેલ
                                            જેમાં સમદરા ભારતમાથી ગુજરાતે ભાષામાં પ્રથમ નંબર પ્રાપ્ત કરનાર - ચોરસીય
                                            જ્યોતી રાકેશકુમાર
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">2006 માં પાચ હજાર મીટર
                                            સ્કેટીંગ સ્પર્ધામાં પ્રથમ નંબર મેળવેલ હતો. અને જે રાજ્ય કક્ષાએ પસંદ
                                            પામ્યા હતા - શાહ કૃપાલી વાય
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>
<app-footer></app-footer>