
<div class="container mt-150">
    <div class="row">
        <div class="col-md-4">
            <div (click)="showDiv('balshala')"><img src="assets/images/cems/logo/front3.png" alt=""></div>
        </div>
        <div class="col-md-4">
           <div (click)="showDiv('primary')"><img src="assets/images/cems/logo/front1.png" alt=""></div> 
        </div>
        <div class="col-md-4">
            <div (click)="showDiv('secondary')"><img src="assets/images/cems/logo/front2.png" alt=""></div>
        </div>
    </div>
</div>