<section class="servicesHome" *ngIf="choice=='primary'" style="background-color: #887904;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">



                    <h2>Message From From Principal's desk</h2>
                    <h5>Bhartiben Patel
                        <br>
                        <span>- Principal, Sardar Vallabhbhai Patel, Khetiwadi (Primary),</span>
                    </h5>
                    <p>I firmly believe that education determines character and skill of the children. It must be
                        concrete. We aim to provide good and quality education with moral values. We are committed to
                        shape our students by bringing out the best from them.
                    </p>
                    <!-- <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/cems/principal primary.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <!-- <h2>VC Auction for Gift/ Mementos</h2> -->

                    <p>"If one is not willing to learn, no one can teach." <br>
                        “If one is determined to learn, no one can stop.”
                    </p>
                    <!--<a href="http://vcgift.gtu.ac.in/" target="_blank" class="btn btn-sm btn-outline-white mb-0">Go to Portal</a>-->
                    <!-- <a href="http://www.test.gtu.ac.in/VC1/" target="_blank"
                        class="btn btn-sm btn-outline-white mb-0">Go to Portal</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="servicesHome"  *ngIf="choice=='secondary'" style="background-color: #bd7487;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box"> 



                    <h2>Message From From Principal's desk</h2>
                    <h5>Miteshbhai Patel
                        <br>
                        <span>- Principal, Sardar Vallabhbhai Patel, Khetiwadi (HS),</span>
                    </h5>
                    <p>I firmly believe that education determines character and skill of the children. It must be
                        concrete. We aim to provide good and quality education with moral values. We are committed to
                        shape our students by bringing out the best from them.
                    </p>
                    <!-- <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/cems/principal HS.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <!-- <h2>VC Auction for Gift/ Mementos</h2> -->

                    <p>"If one is not willing to learn, no one can teach." <br>
                        “If one is determined to learn, no one can stop.”
                    </p>
                    <!--<a href="http://vcgift.gtu.ac.in/" target="_blank" class="btn btn-sm btn-outline-white mb-0">Go to Portal</a>-->
                    <!-- <a href="http://www.test.gtu.ac.in/VC1/" target="_blank"
                        class="btn btn-sm btn-outline-white mb-0">Go to Portal</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="servicesHome" *ngIf="choice=='balshala'">
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-4">
                <div class="servicesHome-box">



                    <h2>Message From From Principal's desk</h2>
                    <h5>Heenaben Bhavsar
                        <br>
                        <span>- Principal, Sardar Vallabhbhai Patel, Khetiwadi (Balshala),</span>
                    </h5>
                    <p>I firmly believe that education determines character and skill of the children. It must be
                        concrete. We aim to provide good and quality education with moral values. We are committed to
                        shape our students by bringing out the best from them.
                    </p>
                    <!-- <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/cems/principal balshala.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <!-- <h2>VC Auction for Gift/ Mementos</h2> -->

                    <p>"If one is not willing to learn, no one can teach." <br>
                        “If one is determined to learn, no one can stop.”
                    </p>
                    <!--<a href="http://vcgift.gtu.ac.in/" target="_blank" class="btn btn-sm btn-outline-white mb-0">Go to Portal</a>-->
                    <!-- <a href="http://www.test.gtu.ac.in/VC1/" target="_blank"
                        class="btn btn-sm btn-outline-white mb-0">Go to Portal</a> -->
                </div>
            </div>
        </div>
    </div>
</section>